<form action="/task/add" method="post">

    <div>
        <label for="title">Título de la tarea</label>
        <input type="text" name="title" placeholder="Título de la tarea" id="title">
    </div>

    <div>
        <label for=""></label>
        <textarea type="text" name="description" placeholder="Descripción" id="description">
</textarea>
    </div>

    <button>Agregar</button>
</form>