<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs Mongodb CRUD</title>
</head>
<body>

{{!-- gracias los handlers(creo), puedo llamar bloques de html como si fueran variables
este pedazo de código se encuentra en un archivo aparte que se llama navbar.hbs y de esta manera
pareciera que lo estuviera importando desde ese archivo GENIAL  --}}
    {{> navbar }}


    {{{ body }}}
</body>
</html>